body {
    height: 100vh;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url("../Image/stacked-waves-haikei.png");
    background-repeat: no-repeat;
    background-size: 100%;
}
.container{
    margin-top: 0%;
}
.login-box {
    margin: auto;
    justify-content: center;
    padding-left: 500px;
    max-width: 400px;
    width: 100%;
    background: #397FD8D4; 
    padding: 20px;
    border-radius: 10px;
    color: white; 
}

button {
    width: 100%;
    padding: 0.5rem;
    background-color: rgb(17, 47, 39);
    border: none;
    border-radius: 5px;
    color: #ffffff; /* Text color on the button */
    font-weight: bold;
}

h1 {
    margin-top: 0%;
    background-color: black;
    color: rgb(8, 87, 58); 
}
.text-1{
    padding-left: 60px;
    color:aqua;
}
.anchor-1{
    padding-left: 10px;
    text-decoration: none;
    color:#ffffff;
}
.anchor-1:hover{
    text-decoration: none;
    color:pink;
}
.container{
    border-radius: 15%;
}
.btn-1{
    background-color: #397FD8D4;
    border: black 1.5px solid; 
    border-radius: 5%;
}
.btn-1:hover{
    background-color: rgb(8, 100, 137);
}